<h1 style="color: rgb(153, 187, 53);">Perfis de usuários  desenvolvido <span style="color: rgb(86, 152, 70);">Cauê Tamiarana</span></h1>

<p>
    <a style="color: rgb(153, 187, 53); text-decoration: none;" href="/">Voltar para a home</a>
</p>

<ul>
    <% perfis.map((perfil) => { %>
        <li>dados do <%= perfil.nome %> <%= perfil.sobrenome %> de idade <%= perfil.idade %></li>
    <%}) %>
</ul>