<h1 style="color: rgb(153, 187, 53);">Perfil do usuário <span style="color: rgb(86, 152, 70);"><%= perfil %></span></h1>

<p>
    <a style="color: rgb(153, 187, 53); text-decoration: none;" href="/">Voltar para a home</a>
</p>